.nav_img{
    width: 170px;
    margin-left: 50px;
}
.nav_img img{
    width: 90%;
    height: auto;
}

.nav_main{
    background-color: rgb(196, 208, 228);
    display: flex;
    justify-content: space-between;
   
}

.add_Flight{
    margin-top: 5px;
}
.add_btn{
   padding: 14px;
  border: none;
  margin-right: 120px;
  background-color: rgb(255, 166, 1);
  color:black;
  font-size: 15px;
  border-radius: 10px;
  
  
}

.add_btn:hover{
    background-color:  rgb(255, 111, 1);
    color: white;
}

.signup_btn{
  background-color: rgb(57, 101, 172);
  padding: 14px;
  border: none;
  margin-right: 90px;
  color:black;
  font-size: 15px;
  border-radius: 10px;
  color: white;
}

.signup_btn:hover{
    background-color: rgb(22, 54, 110);
}

.logout_btn{
  background-color: rgb(137, 139, 143);
  padding: 14px;
  border: none;
  margin-right: 80px;
  color:black;
  font-size: 15px;
  border-radius: 10px;
  color: white;

}

.logout_btn:hover{
    background-color: rgb(82, 80, 80);
}

.add_btn:hover{
    background-color: #066fa8;
}